# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/

# Build outputs
build/
frontend/build/
backend/dist/

# Local env files
.env
.env.*

# Local OS files
.DS_Store

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Deployment directories
.vercel/
.netlify/
